div,
form,
input {
    margin: 10px;  
}

body {
    background-color: rgb(143, 175, 95);
}

button  {
    background: rgb(251, 251, 129);
    margin: 10px;
    border-radius: .37em;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    color: rgb(104, 104, 104);
}

#add-landscape  {
    border-radius: .37em;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(115, 159, 255);
    width: 100px;
    height:35px;
    margin-left:20px;
}

#landscape-buttons  {
    font-size: 14px;
    border: 10px color rgb(245, 133, 54) ;
}

h1{
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}



 p{
    font-size: 14px;
 }



label{
    margin-left:10px;
}

 img{
     margin:0 10px 20px 0;
     width:300px;
     height:250px;
 }


 .container {
     padding: 100px;

 }

 /* div.landscape  {
     margin-left:10px;
 } */


